# Vite environment variables (sample)
VITE_OPENAI_API_KEY=
VITE_OPENAI_API_ENDPOINT=https://api.openai.com/v1
VITE_LLM_MODEL_NAME=gpt-4o-mini
VITE_IS_CHARTDB_IO=false
VITE_APP_URL=http://localhost:5173
VITE_HOST_URL=http://localhost:5173
VITE_HIDE_CHARTDB_CLOUD=true
VITE_DISABLE_ANALYTICS=true
VITE_HIDE_SOCIAL_LINKS=false
